name: 'build'
on:
  push:
    branches:
      - master

jobs:
  build-tauri:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-18.04, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        
      - name: Cache Rust
        uses: swatinem/rust-cache@v2
        with:
          workspaces: './src-tauri -> target'
          
      - name: Sync node version and setup cache
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
          
      - name: Install Dependencies (Ubuntu)
        if: matrix.platform == 'ubuntu-18.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf
      - name: Install voxura Dependencies
        run: cd voxura && yarn
      - name: Install Dependencies & Build Frontend
        run: yarn && yarn vite build
      - name: Build Application
        run: yarn tauri build --debug
        env:
          TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}  
      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v2
        if: matrix.platform == 'ubuntu-18.04'
        with:
            name: mdpkm-linux-debug.deb
            path: src-tauri/target/debug/bundle/deb/*.deb
            if-no-files-found: error	
      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v2
        if: matrix.platform == 'windows-latest'
        with:
            name: mdpkm-windows-debug.msi
            path: src-tauri/target/debug/bundle/msi/*.msi
            if-no-files-found: error
